@using PetanqueProSuite.Domain.Competition

@* <div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">Home</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">PC Boekt</h6>
        <ul class="ps-0">
            <span class="badge text-bg-secondary w-100">Team A</span>
            <span class="badge text-bg-primary w-100">Steven Kazmierczak</span>
            <span class="badge text-bg-primary w-100">Frans Kazmierczak</span>
            <span class="badge text-bg-primary w-100">Natachsa Kazmierczak</span>
        </ul>
        <ul class="ps-0">
            <span class="badge text-bg-secondary w-100">Team B</span>
            <span class="badge text-bg-primary w-100">Steven Kazmierczak</span>
            <span class="badge text-bg-primary w-100">Frans Kazmierczak</span>
            <span class="badge text-bg-primary w-100">Natachsa Kazmierczak</span>
        </ul>
        <ul class="ps-0">
            <span class="badge text-bg-secondary w-100">Team C</span>
            <span class="badge text-bg-primary w-100">Steven Kazmierczak</span>
            <span class="badge text-bg-primary w-100">Natachsa Kazmierczak</span>
            <span class="badge text-bg-primary w-100">Frans Kazmierczak</span>
        </ul>
        <ul class="ps-0">
            <span class="badge text-bg-secondary w-100">Reserve   </span>
            <span class="badge text-bg-danger w-100">Steven Kazmierczak</span>
            <span class="badge text-bg-danger w-100">Frans Kazmierczak</span>
            <span class="badge text-bg-danger w-100">Natachsa Kazmierczak</span>
        </ul>
    </div>
</div> *@

<div class="card h-100 border-0">
    <div class="card-body ">
        <h5 class="card-title">Visitor</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">PC Opec</h6>

        <div>
            <span class="badge text-bg-secondary w-100">Team D</span>
            <div class="card mb-1" draggable="true">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Frans Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Natachsa Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Steven Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3">
            <span class="badge text-bg-secondary w-100">Team D</span>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Frans Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Natachsa Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Steven Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <span class="badge text-bg-secondary w-100">Team D</span>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Frans Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Natachsa Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-1">
                <div class="row g-0">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="no-image.png" class="img-fluid rounded-start ms-2" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text">Steven Kazmierczak</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter] public CompetitionTeam Team { get; set; }
}
