<h3>CompititionCreate</h3>

Level

@* <EditForm Model=""> 
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">""</span>
      <InputDate @bind-value="" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"/>
    </div>
</EditForm> *@

@code {

}
