@using Microsoft.JSInterop
@using PetanqueProSuite.Domain.Tournament

<div class="modal fade" id="addTeamModal" tabindex="-1" aria-labelledby="addTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm EditContext="Form" OnValidSubmit="Submit">
                <ObjectGraphDataAnnotationsValidator  />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTeamModalLabel">Add Player</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @for(int i = 0; i < PlayerCount; i++)
                    {
                        <AddPlayerComponent Player="Team.Players[i]" Number="i"/>
                    }

                    <ValidationSummary />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" disabled="@Disabled">Save changes</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter] public int PlayerCount { get; set; }
    [Parameter] public EventCallback<TournamentTeam> SaveChanges { get; set; }


    private TournamentTeam Team { get; set; }
    private EditContext Form { get; set; }
    private bool Disabled { get; set; } = true;

    protected override void OnParametersSet()
    {
        Update();
    }
    protected override void OnInitialized()
    {
        Update();
    }

    private void Update()
    {
        Team = new TournamentTeam();
        Form = new EditContext(Team);
        Form.OnFieldChanged += HandleFieldChanged;

        for (int i = 0; i < PlayerCount; i++)
        {
            Team.Players.Add(new Player());
        }
    }
    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (Form is not null)
        {
            Disabled = !Form.Validate();
            StateHasChanged();
        }
    }
    private async Task Submit()
    {
        await SaveChanges.InvokeAsync(Team);
    }
}
