@using PetanqueProSuite.Components.Tournament
@using PetanqueProSuite.Domain.Sessions

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="btn btn-primary me-1 mb-1" @onclick="AddSession">+</a>
    </li>
    @foreach (IGameSession session in SessionManager.Sessions.Where(c=>c.GetType() == Type))
    {
        <li class="nav-item">
            <a class="nav-link @CheckIfActive(session)" @onclick="() => NavClick(session)">@session.ToString() <button class="btn btn-danger" @onclick="() => DeleteSession(session)">X</button></a>
        </li>
    }
</ul>

@if(SessionManager.SelectedSession != null)
{
    if(Type == typeof(CompetitionSession)){
        @*         <CompetitionComponent Competition="SelectedSession" />  *@
    }else if(Type == typeof(TournamentSession))
    {
        <TournamentComponent Session="(TournamentSession)SessionManager.SelectedSession" />
    }
}

@code {
    [Parameter] public Type Type { get; set; }
    [Inject] private IGameSessionManager SessionManager { get; set; }

    private string CheckIfActive(IGameSession session)
    {
        return SessionManager.SelectedSession == session ? "active" : "";
    }
    private void NavClick(IGameSession session)
    {
        SessionManager.SelectSession(session);
    }
    private void AddSession()
    {
        Object? instance = Activator.CreateInstance(Type);
        IGameSession? newSession = (IGameSession)instance;
        newSession.Name = "Hello";
        if (newSession != null) SessionManager.AddSession(newSession);
    }
    private void DeleteSession(IGameSession session)
    {
        SessionManager.RemoveSession(session);
    }
}