@page "/scoreboard"
@using PetanqueProSuite.Components.Scoreboard
@rendermode RenderMode.InteractiveWebAssembly

<PageTitle>Scoreboard</PageTitle>

<div class="container text-center">
    <ScoreboardComponent />
</div>
@code {

}
