@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="container-fluid">
        <article class="m-5">
            @Body
        </article>
    </main>

    <footer class="bg-dark">
        <div class="text-light fw-bold p-5 text-center">Copyright 2024 - DTC</div>
    </footer>
</div>
