<h3>CompetitionComponent</h3>

<div class="row">
    <div class="col-6">
        @if (Competition != null && Licenses != null)
        {
            <ul>
                @foreach (License lic in Licenses.Where(c => c.ClubId == Competition.Home.ClubId)){
                    <li>@lic.FullName</li>
                }
            </ul>
        }
    </div>
    <div class="col-6">
        @if (Competition != null && Licenses != null)
        {
            <ul>
                @foreach (License lic in Licenses.Where(c => c.ClubId == Competition.Visitor.ClubId))
                {
                    <li>@lic.FullName</li>
                }
            </ul>
        }
    </div>
</div>


@code {
    [Inject] private IApiService ApiService { get; set; }

    [Parameter] public Competition Competition { get; set; }
    [Parameter] public List<License>? Licenses { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Licenses = await ApiService.GetAllLicenses();
    }
}
