<h3 class="mb-4 text-center">Competition Sessions</h3>

<ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="btn btn-primary me-1 mb-1" href="/competition/start">+</a>
    </li>
    @foreach (Competition session in SessionManager.Competitions)
    {
        <li class="nav-item">
            <a class="nav-link @CheckIfActive(session)" @onclick="() => NavClick(session)">@session.ToString()</a>
        </li>
    }
</ul>

@code {
    [Inject] private ICompetitionSessionManager SessionManager { get; set; }
    private Competition SelectedSession { get; set; }

    private string CheckIfActive(Competition session)
    {
        return SelectedSession == session ? "active" : "";
    }

    private void NavClick(Competition session)
    {
        SelectedSession = session;
    }
}