@page "/competition/start"
@using PetanqueProSuite.AppLogic.Services
@using PetanqueProSuite.Components.Competition
@using PetanqueProSuite.Domain
@using PetanqueProSuite.Domain.Competition

<PageTitle>Start Competition</PageTitle>

<div class="container text-center">
    <CompetitionFormComponent Categories="Categories" Leagues="Leagues" Divisions="Divisions" Teams="Teams" Licenses="Licenses"/>
</div>

@code {
    [Inject] private IApiService ApiService { get; set; }
    [Inject] private ICompetitionSessionManager CompetitionSessionManager { get; set; }


    private IList<Category>? Categories { get; set; }
    private IList<League>? Leagues { get; set; }
    private IList<Division>? Divisions { get; set; }
    private IList<CompetitionTeam>? Teams { get; set; }
    private IList<License>? Licenses { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Categories = await ApiService.GetAllCategories();
        Leagues = await ApiService.GetAllLeagues();
        Divisions = await ApiService.GetAllDivisions();
        Teams = await ApiService.GetAllCompetitionTeams();
        Licenses = await ApiService.GetAllLicenses();

        CompetitionSessionManager.AddSession(new Domain.Competition.Competition
            {
                Category = Categories.First(c => c.Id == 2),
                League = Leagues.First(c=>c.Id == 4),
                Division = Divisions.First(c=>c.Id == 6),
                Home = Teams.First(c => c.Id == 1),
                Visitor = Teams.First(c => c.Id == 2)
            });
    }
}