@page "/competition"
@using PetanqueProSuite.AppLogic.Services
@using PetanqueProSuite.Components.Competition
@using PetanqueProSuite.Domain

<PageTitle>Competition</PageTitle>

<div class="container text-center">
    <CompetitionSessionManagerComponent />
</div>

@code {
}
