@page "/scoreboard"
@using PetanqueProSuite.Components
@using PetanqueProSuite.Components.Scoreboard

<PageTitle>Scoreboard</PageTitle>

<div class="container text-center">
    <ScoreboardComponent />
</div>

@code {

}
